# Team Endgame Devs

* @juanq4 @jessgoldq4 @GarryCummins-Q4 @jiaweiluoq4inc @myarask @spliiev-q4

# CI/CD owners

/.deploy/ @juanq4 @jessgoldq4 @GarryCummins-Q4 @jiaweiluoq4inc @myarask @spliiev-q4 @ThePinzon
/.github/ @juanq4 @jessgoldq4 @GarryCummins-Q4 @jiaweiluoq4inc @myarask @spliiev-q4 @ThePinzon
/.husky/ @juanq4 @jessgoldq4 @GarryCummins-Q4 @jiaweiluoq4inc @myarask @spliiev-q4 @ThePinzon
/config/ @juanq4 @jessgoldq4 @GarryCummins-Q4 @jiaweiluoq4inc @myarask @spliiev-q4 @ThePinzon
