coverage/
dist/
node_modules/

.DS_Store
.env


#ide
.vscode
.history
.idea

# testrail report
nightwatch-testrail-report.json
testrail-report.json
testrail-*-*-report.json
jest-testrail-report.json

logs

# Terraform
.terraform
*.auto.tfvars
*.tfplan
*.terraform.lock.hcl
backend.tf
jest-testrail-report.json
