registry=https://artifacts.platform.q4inc.com/artifactory/api/npm/npm-capital-connect-platform-virtual/
@snapshot:registry=https://artifacts.platform.q4inc.com/artifactory/api/npm/npm-capital-connect-platform-snapshots-local/
@release:registry=https://artifacts.platform.q4inc.com/artifactory/api/npm/npm-capital-connect-platform-releases-local/