registry=https://artifacts.platform.q4inc.com/artifactory/api/npm/npm-capital-connect-platform-virtual/

//artifacts.platform.q4inc.com/artifactory/api/npm/npm-capital-connect-platform-virtual/:_authToken=cmVmdGtuOjAxOjE3MTk0MTE1MTE6Z05VbWlnZWV6TVhMRUxLYWZqdzduam84d3o2

//artifacts.platform.q4inc.com/artifactory/api/npm/npm-capital-connect-platform-snapshots-local/:_authToken=cmVmdGtuOjAxOjE3MTk0MTE1MTE6Z05VbWlnZWV6TVhMRUxLYWZqdzduam84d3o2

//artifacts.platform.q4inc.com/artifactory/api/npm/npm-capital-connect-platform-releases-local/:_authToken=cmVmdGtuOjAxOjE3MTk0MTE1MTE6Z05VbWlnZWV6TVhMRUxLYWZqdzduam84d3o2

;

; legacy remove the following lines after nexus is fully disabled 

;

//artifacts.dev.platform.q4inc.com/repository/npm-capital-connect-platform-virtual/:_authToken=NpmToken.596eafc6-8406-3ce6-a376-baae754f45e6

//artifacts.dev.platform.q4inc.com/repository/npm-capital-connect-platform-snapshots-local/:_authToken=NpmToken.596eafc6-8406-3ce6-a376-baae754f45e6

//artifacts.dev.platform.q4inc.com/repository/npm-capital-connect-platform-releases-local/:_authToken=NpmToken.596eafc6-8406-3ce6-a376-baae754f45e6