@import "/src/styles/scss/variables";

.admin-user-form {
  &_content {
    flex: 1;
  }

  .nui {
    &-toggle {
      justify-content: start;
    }

    &-modal {
      &_content,
      &_children {
        display: flex;
        width: 100%;
      }

      &_children {
        flex-direction: column;
      }
    }
  }

  .welcome-email {
    &_container {
      min-height: 60px;
      display: flex;
      align-items: flex-end;

      .nui-field_children {
        flex-direction: column;
      }
    }

    &_hint {
      color: #949494;
      font-size: 12px;
      font-weight: 600;
      margin-top: 4px;

      @media only screen and (min-width: 1024px) {
        white-space: nowrap;
        margin-left: gux(6);
      }
    }
  }

  .nui-combo-box.disabled .nui-chip--light-grey {
    opacity: 0.5;

    &:hover {
      background-color: #eee;
    }
  }
}
