$icomoon-font-family: "q4icons" !default;
$icomoon-font-path: "fonts" !default;

$ccicon-font-family: "ccicons" !default;

$q4i-calendar-add: "\e899";
$q4i-warning-sign-4pt: "\e900";
$q4i-warning-sign-4pt: "\e900";
$q4i-new-user-2pt: "\e901";
$q4i-new-user-4pt: "\e902";
$q4i-undo-2pt: "\e903";
$q4i-undo-4pt: "\e904";
$q4i-drag-4pt: "\e905";
$q4i-clone-duplicate-4pt: "\e906";
$q4i-checkmark-2pt: "\e907";
$q4i-checkmark-4pt: "\e908";
$q4i-arrow-left-2pt: "\e909";
$q4i-arrow-left-4pt: "\e90a";
$q4i-arrow-right-2pt: "\e90b";
$q4i-arrow-right-4pt: "\e90c";
$q4i-add-2pt: "\e90d";
$q4i-add-4pt: "\e90e";
$q4i-q4-team-2pt: "\e90f";
$q4i-q4-team-4pt: "\e910";
$q4i-time-2pt: "\e911";
$q4i-time-4pt: "\e912";
$q4i-recent-2pt: "\e913";
$q4i-recent-4pt: "\e914";
$q4i-warning-circle-2pt: "\e915";
$q4i-warning-circle-4pt: "\e916";
$q4i-rate-2pt: "\e917";
$q4i-rate-4pt: "\e918";
$q4i-sync-or-fetch-2pt: "\e919";
$q4i-sync-or-fetch-4pt: "\e91a";
$q4i-itinerary-2pt: "\e91b";
$q4i-itinerary-4pt: "\e91c";
$q4i-broadcasting-off-filled-4pt: "\e91d";
$q4i-earnings-2pt: "\e91e";
$q4i-earnings-4pt: "\e91f";
$q4i-releases-2pt: "\e920";
$q4i-releases-4pt: "\e921";
$q4i-bookmark-2pt: "\e922";
$q4i-bookmark-4pt: "\e923";
$q4i-contact-2pt: "\e924";
$q4i-contact-4pt: "\e925";
$q4i-contact-list-2pt: "\e926";
$q4i-contact-list-4pt: "\e927";
$q4i-meeting-2pt: "\e928";
$q4i-meeting-4pt: "\e929";
$q4i-star-2pt: "\e92a";
$q4i-star-4pt: "\e92b";
$q4i-trashbin-4pt: "\e92c";
$q4i-trashbin-2pt: "\e92d";
$q4i-pdf-2pt: "\e92e";
$q4i-pdf-4pt: "\e92f";
$q4i-report-open-2pt: "\e930";
$q4i-report-open-4pt: "\e931";
$q4i-webcast-2pt: "\e932";
$q4i-webcast-4pt: "\e933";
$q4i-xls-2pt: "\e934";
$q4i-xls-4pt: "\e935";
$q4i-duplicate-4pt: "\e936";
$q4i-duplicate-2pt: "\e937";
$q4i-info-fill: "\e938";
$q4i-activity-calendar-2pt: "\e939";
$q4i-activity-calendar-4pt: "\e93a";
$q4i-company-2pt: "\e93b";
$q4i-company-4pt: "\e93c";
$q4i-csm-2pt: "\e93d";
$q4i-csm-4pt: "\e93e";
$q4i-home-2pt: "\e93f";
$q4i-home-4pt: "\e940";
$q4i-html-2pt: "\e941";
$q4i-html-4pt: "\e942";
$q4i-presentation-2pt: "\e943";
$q4i-presentation-4pt: "\e944";
$q4i-press-releases-2pt: "\e945";
$q4i-press-releases-4pt: "\e946";
$q4i-price-2pt: "\e947";
$q4i-price-4pt: "\e948";
$q4i-question-mark-2pt: "\e949";
$q4i-question-mark-4pt: "\e94a";
$q4i-team-2pt: "\e94b";
$q4i-team-4pt: "\e94c";
$q4i-insider-2pt: "\e94d";
$q4i-insider-4pt: "\e94e";
$q4i-suitcase-cog-2pt: "\e94f";
$q4i-suitcase-cog-4pt: "\e950";
$q4i-warning-4pt: "\e951";
$q4i-surveillance-2pt: "\ebda";
$q4i-surveillance-4pt: "\ebdb";

$cci-website-4pt: "\e900";
$cci-website-analytics-2pt: "\e901";
$cci-website-analytics-4pt: "\e902";
$cci-notifications-4pt: "\e903";
